*.bin
*.o
pluto
pluto.log
*.vtk
*.dbl
*.out
eta.dat
kappa.dat
out/*.dat
initial_mass_dens/T.raw
initial_mass_dens/p.raw
makefile
.directory
breaks
profiled.txt
rplots/.Rproj.user
rplots/rplots.Rproj
profiled*
*.Rhistory
.Rproj.user
transport_tables_scripts/__pycache__
workspace_config.code-workspace
rho_ic.flt
rho_ic_test.flt
.vscode/ipch/
